<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @first_name %>
    
     You have received store credit of <%= @credit %>!
    
    
      Best,<br/>
      deCODE
    
  </body>
</html>