<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Customers</h2>
<table>
	<tr>
		<th>
			Customer
		</th>
		<th>
			Store Credit
		</th>
	</tr>
	<% @customers.each do |customer| %>
	<tr>
		<td>
			<a href="https://decodemtla.myshopify.com/admin/customers/<%= customer.id %>" target="_blank">
				<%= customer.first_name %> <%= customer.last_name %>
			</a>
		</td>
		<td>

		</td>
	</tr>
	<% end %>
</table>
