/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.table-container {
	display: block;
	margin: 1.3rem 0.8rem;
	padding: 1.3rem;
	background: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.07);
	border-radius: 2px;
}

table {
	width: 100%;
	font-family: sans-serif;
	font-size: 0.9rem;
	border-collapse: collapse;
}

.add-credit-button {
	display: block;
	float: right;
	padding: 0.7rem 1.2rem;
	margin: 1.5rem 1rem;
	border: none;
	border-radius: 4px;
	background: #0078bd;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

.add-credit-button:hover {
	background: #005FA4;
}

input[type=checkbox] {
	font-size: x-large;
	cursor: pointer;
}

th, td {
	text-align: center;
	font-weight: normal;
	padding: 0.6rem;
}

th:first-child, td:first-child {
	width: 2rem;
	text-align: left;
}

th:nth-child(2), td:nth-child(2) {
	text-align: left;
}

th:last-child, td:last-child {
	text-align: right;
}

tr {
	height: 1.7rem;
	border-bottom: 1px solid #eee;
}

table tr:last-child {
    border-bottom: none;
}

tr:hover:not(:first-child) {
	background: rgba(0, 120, 189, 0.1);
}

td a {
	text-decoration: none;
	color: #0078bd;
}

td a:hover {
	text-decoration: underline;
}
